/*header, aside, section, footer{
	border: 1px solid black;
}

* {
  box-sizing: border-box;
}*/

#asideleft li:hover {
    background-color: rgba(16,204,114,25);
    width: 100px;
    display: block;
}

section, header, ul{
	display: flex;
	justify-content: space-around;
    list-style-type: none;
    text-decoration: none;

}

nav{
	width: 400px;
}


body {
	background: #ffffff;
	display: grid;
	grid-template-columns: 325px 650px 325px;
	grid-template-rows: 100%;
	grid-template-areas: "a a a "
						 "b c d"
						 "e e e"				
}

header {
	grid-area: a;
	grid-column: 1/4;
	grid-row: 1/2;
	align-items: center;
	height: 175px;
	margin: 0px 0px 20px 0px;
	border: none;
	background-image: url('../images/bg.jpg');
	background-size: 200%;
	background-position: left;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-around;

}	

aside img {
	width: 250px;
	margin: 0px 0px 20px 0px;
}

section img {
	width: 600px;
}

aside#left {
	grid-area: b;
	grid-row: 2/3;
	grid-column: 1/2;
	flex-direction: column;
	margin: 20px;
	align-items: center;
	justify-content: flex-start;
}		

section { 
	grid-area c;
	grid-row: 2/3;
	grid-column: 2/3;
	flex-direction: column;
	margin: 20px;
}

aside#right {
	grid-area d;
	grid-row: 2/3;
	grid-column: 3/4;
	flex-direction: column;
	flex: auto;
	display: inline-flex;
	margin: 20px;
	align-items: center;
	text-align: center;
	justify-content: flex-start;

}



footer {
	grid-area e;
	grid-column: 1/4;
	grid-row: 3/4;
	display: flex;
	justify-content: space-around;
	background-color: rgb(242,244,246); 
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	padding: 40px 0px 20px 0px;
	text-align: center;
}


* {
  box-sizing: border-box;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: #fff;
	padding: 25px 0px 50px 0px;
	margin: 0px;
	font-weight: 900;

	}

h2 {
	color: #033048;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 700;

	}	

h3 {
	color: #033048;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-style: bold;
	margin: 20px;
}

p {
	color: color: #033048;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
}	

cite {
	font-size: 13px;
	font-weight: 100i;
	color: rgb(113,122,128);
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-weight: 700;
}

small {
	text-align: center;
	font-size: 9px;
	font-style: bold;
}

#headernav a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: center;
	display: flex;
	flex-direction: row-reverse;
	text-decoration: none;
	justify-content: center;
}

#asideleft ul {
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	text-align: left;
	display: block;
	flex-direction: column;
	text-decoration: none;
	flex: 2;
	font-size: 13px;
	padding: 0px 20px;
}

#asideleft li {
	margin: 3px;
	padding: 0px;
	
}

#asideleft h2 ul {
	align-items: left: 
}

#asideleft a {
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	text-align: left;
	text-decoration: none;
	font-weight: 300;

}

input {
	width: 150px;
	display: block;
	border-radius: 5px;
  	color: white;
  	padding: 10px;
  	text-align: center;
  	font-weight: 500;
  	text-decoration: none;
  	font-size: 14px;
  	background: rgb(16,204,114);
	margin: 100px 0px 5px 20px;
	}



