header, aside, section, footer{
	border: 1px solid black;
}

* {
  box-sizing: border-box;
}


section, header, ul{
	display: flex;
	justify-content: space-around;
}

nav{
	width: 400px;
}


body {
	background: #ffffff;
	display: grid;
	grid-template-columns: 300px 500px 300px;
	grid-template-rows: 100%;
	grid-template-areas: "a a a "
						 "b c d"
						 "e e e"				
}

header {
	grid-area: a;
	grid-column: 1/4;
	grid-row: 1/2;
	align-items: center;
	height: 175px;
	margin: 0px 0px 20px 0px;
	border: none;
	background-image: url('../images/bg.jpg');
	background-size: 200%;
	background-position: left;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-around;

}	

img {
	width: 200px;
	margin: 20px;
}

aside#left {
	grid-area: b;
	grid-row: 2/3;
	grid-column: 1/2;
	display: inline-flex;
	flex-direction: 
}		

section { 
	grid-area c;
	grid-row: 2/3;
	grid-column: 2/3;
	flex-direction: column;
}

aside#right {
	grid-area d;
	grid-row: 2/3;
	grid-column: 3/4;
	flex-direction: column;
	flex: auto;
	display: inline-flex;
	margin: 20px;
	align-items: center;

}



footer {
	grid-area e;
	grid-column: 1/4;
	grid-row: 3/4;
	display: flex;
	justify-content: space-around;
	background-color: rgb(242,244,246); 
	color: rgb(113,122,128);
	font-family: 'Roboto', sans-serif;
	padding: 40px 0px 20px 0px;
	text-align: center;
}		

div#sectionsecondary{
	display: flex;
	justify-content: all;
	text-align: center;
	color: rgb(142,149,146);
}

/*nav:hover {
  background:orange;
*/

* {
  box-sizing: border-box;
}

a {
	color: black;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: #fff;
	padding: 25px 0px 50px 50px;
	margin: 0px;
	font-style: black;
	}

a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	display: ;
	flex-direction: row-reverse;
	text-decoration: none;
	/*justify-content: center;*/
}

#left {
	flex: 2;
}

#right {
	flex: 2;
}

#sectionprimary {
	flex: 2;
}

#sectionsecondary{
	flex: 2;
}

#leftsecondary{
	color: black;
}

ul
{
	list-style-type: none;
}






/*section, header, ul{
	display: flex;
	justify-content: space-around;
}*/

/*nav{
	width: 400px;
}*/

/*header nav ul {
	list-style-type: none;
}*/
/*section div{
	width: 50px;
	padding: 10px;
	margin: 20px;
	flex: 3;
}*/

/*h1{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 35px;
}*/

/*h2{
	font-family: 'Roboto', sans-serif, bold;
	
}*/

/*p{
	font-family: 'Roboto', sans-serif;
}*/

/*#primary {
	flex: 2;
}*/



